<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="light" nzMode="horizontal">
      <li nz-menu-item>Home</li>
      <li nz-menu-item>Blogs</li>
      <li nz-menu-item>Projects</li>
      <li nz-menu-item>About Me</li>
      <li class = "login" nz-menu-item><button nz-button nzType="primary" nzGhost>Login</button></li>
    </ul>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer>Ant Design ©2019 Implement By Angular</nz-footer>
</nz-layout>